/.vscode
_*
!__*
!_shared_vars.py
__pycache__
/images
/log
/mongo
/utils2
venv
/.testfiles
/dev
*.old
last_update
/music
/content/to_mongo
test.py
/tmp/nsfw_filter/*
/nsfw_model
change-log.yml
google_auth.json